@page "/getintouch"

<div class="text-center border my-3 rounded">
    <div class="display-6 border-bottom">Contact</div>
    <div class="leed mt-5">
        <i class="fa-solid fa-address-book bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            Turkey/Mardin
        </p>   
        
        <i class="fa-solid fa-envelope bg-secondary text-white p-3  rounded-5 my-3"></i>
        <p>
            You can send an e-mail to nurioget9@gmail.com for support
        </p>
       
    </div>
</div>

<h1>Contact</h1>