@page "/getintouch"

<div class="text-center border my-3 rounded">
    <div class="display-6 ">Contact</div>
    <div class="leed">
        <i class="fa-solid fa-envelope text-primary m-3"></i>
        <p>
            You can send an e-mail to nurioget9@gmail.com for support
        </p>   
        
        <i class="fa fa-address-book text-primary m-3"></i>
        <p>
            Turkey/Mardin
        </p>
       
    </div>
</div>

<h1>Contact</h1>